
.container
{
  width: 100%;
  height: 100vh;
}
.top
{
  width: 100%;
  height: 25%;
  background-color: #fff;
  margin-bottom: 20px;
}
.logo
{
  width: 20%;
  height: 65%;
  background-color: #ccc;
  margin:auto;
  margin-bottom:20px;
}
.list
{
  width: 100%;
  height: 30%;
  background-color: #ddd;
}
.btn
{
  width: 16%;
  height: 20px;
  background-color: #000;
}
.main
{
  width: 100%;
  background-color: #ccc;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.about
{
  width: 100%;
  height: 400px;
  background-color: #bbb;
  margin-bottom: 20px;
}
.intro
{
  width: 80%;
  height: 300px;
  background-color: #ddd;
  margin: auto;
  margin-bottom: 20px;
}
.e,.h,.s,.j
{
  width: 40%;
  height: 400px;
  background-color: #bbb;
  float: left;
  margin: auto;
  margin-bottom: 20px;
}
.d
{
  width: 80%;
  height: 200px;
  background-color: #ddd;
  margin: auto;
  margin-bottom: 20px;
}
.recommend
{
  width: 80%;
  height: 500px;
  background-color: #bbb;
  margin: auto;
  margin-bottom: 20px;
}
.source
{
  width: 70%;
  height: 150px;
  background-color: #ddd;
  margin: auto;
}
.footer
{
  width: 100%;
  height: 300px;
  background-color: #bbb;
}
